body > *
{
	display: none;
}

body
{
	background: none!important;
}

#time-machine
{
	display: block;
	font-family: "微软雅黑";
	display: flex;
	height: 100%;
	margin-top: 7px;
}

#time-machine > .left-part
{
	margin-left: 190px;
	width: 600px;
	position: relative;
	flex-shrink: 0;
}

#time-machine > .right-part
{
	flex-grow: 1;
	border-radius: 5px;
	margin-left: 5px;
	overflow-y: auto;
	height: calc(100vh - 10px);
}

#time-machine .hidden
{
	display: none!important;
}

#historical-threads
{
	list-style: none;
	padding: 0;
	margin-top: -5px;
}

#historical-threads > li
{
	line-height: 30px;
    margin-top: 5px;
}

#historical-threads > li:nth-child(even) a
{
    background: #fff8e7;
}

#historical-threads > li:nth-child(odd) a
{
    background: #f5e8cb;
}

#historical-threads .thread-link:hover
{
    background: #ffeaaa;
	color: black;
}

#historical-threads a
{
    color: black;
    text-decoration: none;
    display: block;
    padding-left: 9px;
    border-radius: 5px;
}

#time-machine-side-bar button
{
	background: #89bd90;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
	color: white;
}

#time-machine-side-bar #time-travel-target {
	border-radius: 5px;
    outline: none;
    border: 1px solid silver;
    text-indent: 3px;
    font-size: 16px;
    line-height: 28px;
    width: 100px;
	background: white;
	color: black;
	padding: 0;
}

#time-machine-side-bar #time-travel-target-previewer {
    width: 158px;
    border-radius: 5px;
	background: white;
    color: black;
    border: 1px dashed silver;
	min-height: 20px;
}

#time-machine-side-bar {
	position: absolute;
	left: -182px;
    top: 0;
}

#time-machine-side-bar > .side-bar-item {
	display: block;
    padding: 5px 10px;
    margin-bottom: 5px;
    background: rgb(137, 189, 144);
    color: white;
    border-radius: 5px;
    line-height: 20px;
    border: none;
	float: right;
	clear: both;
}

#time-machine #thread-detail
{
	list-style: none;
	padding: 0;
	margin: 0;
	border: 1px solid #89bd90;
    border-radius: 10px;
}

#time-machine #thread-detail > li
{
    padding: 5px 10px;
    position: relative;
    border-bottom: 1px solid green;
    margin-bottom: 0;
    padding-top: 35px;
    padding-bottom: 20px;
}

#time-machine .comment-status 
{
	position: absolute;
	top: -1px;
    font-size: 12px;
}

#time-machine .comment-status > span
{
    background: #89bd90;
    padding: 3px 5px;
    float: left;
    margin-right: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
}

#time-machine .thread-link.active, #time-machine .thread-link.active:hover
{
	background: #89bd90;
    color: white;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
	width: calc(100% - 4px);
}
