body > *
{
	display: none;
}

body
{
	background: none!important;
}

#time-machine
{
	margin: 0 auto;
	width: 900px;
	display: block;
	font-family: "微软雅黑";
	position: relative;
}

#time-machine .hidden {
	display: none;
}

#historical-threads
{
	list-style: none;
	padding: 0;
}

#historical-threads > li
{
	line-height: 30px;
    margin-top: 5px;
}

#historical-threads > li:nth-child(even) a
{
    background: #fff8e7;
}

#historical-threads > li:nth-child(odd) a
{
    background: #f5e8cb;
}

#historical-threads a:hover
{
    background: #ffeaaa!important;
}

#historical-threads a
{
    color: black;
    text-decoration: none;
    display: block;
    padding-left: 9px;
    border-radius: 5px;
}

#time-machine-controller {
	position: absolute;
    top: 0;
	line-height: 20px;
	left: 905px;
	line-height: 27px;
	width: 200px;
}

#time-machine-controller button
{
	background: #89bd90;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
	color: white;
}

#time-machine-controller > * {
	display: block;
    margin-bottom: 5px;
    line-height: 20px;
}

#time-travel-target {
	border-radius: 5px;
    outline: none;
    border: 1px solid silver;
    text-indent: 3px;
    font-size: 16px;
    line-height: 28px;
    width: 100px;
}

#time-travel-target-previewer {
	position: absolute;
    left: 110px;
    top: 38px;
    width: 300px;
    border-radius: 5px;
}

#time-machine-status {
	position: absolute;
	left: -182px;
    top: 0;
}

#time-machine-status > * {
	display: block;
    padding: 5px 10px;
    margin-bottom: 5px;
    background: rgb(137, 189, 144);
    color: white;
    border-radius: 5px;
    line-height: 20px;
    border: none;
}
