#js-editor, #css-editor, #external-css-editor {
	width: 500px;
	height: 300px;
}

#js-editor, #external-css-editor {
	display: none;
}
ul.tabs {
	list-style: none;
	padding: 0;
	margin: 0;
}
ul.tabs li {
	display: inline-block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	font-family: consolas;
	color: #337ab7;
	text-align: center;
	cursor: pointer;
}
ul.tabs li.selected {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: none;
	background: #2F3129;;
	color: white;
	cursor: default;
}

body, html {
	height: 354px;
}

#domain-container {
	margin-bottom: 5px;
}

#domain-label {
	font-weight: bold;
	margin-right: 5px;
}

#domain {
	width: 292px;
}
